<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="lesson18" frontName="lesson18">
            <module name="ElTrubetskaia_Lesson18" />
        </route>
    </router>
</config>
