<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ask_question>
            <test>
                <dynamical_row>[]</dynamical_row>
            </test>
        </ask_question>
    </default>
</config>
