<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="ElTrubetskaia\AskQuestion\Model\ResourceModel\AskQuestion\Grid\CollectionVirtual" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">el_ask_question</argument>
            <argument name="resourceModel" xsi:type="string">ElTrubetskaia\AskQuestion\Model\ResourceModel\AskQuestion</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="ask_question_listing_data_source" xsi:type="string">ElTrubetskaia\AskQuestion\Model\ResourceModel\AskQuestion\Grid\CollectionVirtual</item>
            </argument>
        </arguments>
    </type>
    <preference for="ElTrubetskaia\AskQuestion\Api\Data\AskQuestionSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />
    <preference for="ElTrubetskaia\AskQuestion\Api\Data\AskQuestionInterface"
                type="ElTrubetskaia\AskQuestion\Model\AskQuestion" />
    <preference for="ElTrubetskaia\AskQuestion\Api\AskQuestionRepositoryInterface"
                type="ElTrubetskaia\AskQuestion\Model\AskQuestionRepository" />
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="ask_question_checkout_processor" type="ElTrubetskaia\AskQuestion\Plugin\CheckoutProcessor"/>
    </type>
</config>
